.o_main_navbar{
    color: black;
    background-color: indianred;

    > .o_menu_brand{
        color: black;
    }

    > ul {

        > li {
            > a, > label {
                color: black;
            }

            &.o_extra_menu_items {
                &.show > ul {

                    > li {
                        > a {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu.show {
        background-color: rgb(231, 157, 157);
    }
}